body {
    font-family: 'Roboto', sans-serif;
    background-color: #000061;
    color: white;
}

.empty-text {
    opacity: 0.8;
    margin-left: 50px;
    margin-top: 240px;
}

.empty-text h1 {
    font-size: 600%;
    margin: 0;
    text-align: center;
}
/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*LOADING SCREEN*/
.loading-logo {
    position: absolute;
    width: 128px;
    height: auto;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.loading-logo ~ h2 {
    font-size: 150%;
    position: absolute;
    box-sizing: border-box;
    top: 60%;
    text-align: center;
    padding: 40px;
    width: 100vw;
}

.loading-logo img {
    position: relative;
    height: 100%;
    width: 100%;

    animation: loading 2.5s infinite;
}

@keyframes loading {
    5% {
        transform: rotate(-15deg);
        animation-timing-function: linear;
    }
    20% {
        transform: rotate(-15deg);
        animation-timing-function: cubic-bezier(.17,.67,.24,1);
    } 70% {
        transform: rotate(2520deg);
        
    } 100% {
        transform: rotate(2520deg);
    }
}

.no-review {
    position: absolute;
    opacity: 0.8;
    left: 50%;
    top: 50%;
    width: 70%;
    transform: translate(-50%,-50%);
}

.no-review h1 {
    font-size: 600%;
    margin: 0;
    text-align: center;
}

.nav-bar {
    height: 80px;
}

.nav-wrapper {
    background-color: #000072;
}

.logo {
    position: absolute;
    height: 55px;
    width: 55px;
    left: 0;
    margin: 12px 30px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.search-form {
    position: absolute;
    height: 80px;
    width: 300px !important;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}

input.searchbar {
    height: 100%;
    width: 100% !important;
    padding: 0 50px !important;
    border: 2px solid white !important;
    border-radius: 15px !important;
    color: white;

    transition: color 0.2s, background-color 0.2s !important;
}

.search-label {
    position: absolute;
    margin-top: -64px;
    margin-left: 15px;
    color: white;

    transition: color 0.2s;
}

.search-form:hover .searchbar,
.search-form .searchbar:focus {
    background-color: rgba(255,255,255,1) !important;
    color: #000072 !important;
}

.search-form:hover .search-label,
.searchbar:focus + .search-label {
    color: #000072 !important;
}

#autocomplete:disabled {
    background-color: rgb(185, 185, 185);
    border-color: rgb(185, 185, 185);
    color: #000072;
}

.pac-container {
    box-sizing: border-box;
    padding: 10px;
    margin-top: -14px;
    width: 404px !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 0 15px 15px !important;
}

.pac-item {
    padding: 0 4px;
}

.pac-item:hover {
    cursor: pointer;
}

/*BODY STYLING*/
.body-header {
    width: 60%;
    height: 260px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.body-header h1,
.body-header h2 {
    margin: 0;
}

.body-header h1 {
    font-size: 440%;
    font-weight: 100;
}

.body-header h2 {
    font-size: 240%;
    font-weight: 500;
}

#review-chart {
    display: inline-block; 
    position: absolute;
    top: 140px;
    right: 0;
    max-width: 400px !important;
    max-height: 400px !important;
}

#ind-ratings-chart {
    display: inline-block;
    margin: auto;
    position: relative;
}

.double-card {
    display: flex;
    height: 350px;
    width: 80vw;
    padding: 25px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

.card-left {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 auto;
    box-sizing: border-box;
    max-width: 50%;
    height: 100%;
    color: #000072;
}

.card-left h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 150%;
}

.no-written-reviews {
    margin: 0;
    margin-left: -10px;
    position: absolute;
    width: 100%;
    font-size: 200%;
    text-align: center;
    color: #000072;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.best-review {
    height: 50%;
    box-sizing: border-box;
    flex: 1 1 auto;
    font-size: 120%;
    border-bottom: 1px solid rgb(209, 209, 209);
    overflow-y: auto;
    padding: 10px;
}

.worst-review {
    height: 50%;
    box-sizing: border-box;
    flex: 0 0 auto;
    font-size: 120%;
    overflow-y: auto;
    padding: 10px;
}

.card-right {
    position: relative;
    padding: 10px;
    padding-left: 20px;
    flex: 0 0 auto;
    box-sizing: border-box;
    max-width: 50%;
    height: 100%;
    border-left: 1px solid rgb(216, 216, 216);
}

.total-reviews {
    position: relative;
    color: #000072;
    height: 300px !important;
}

.total-reviews h1,
.total-reviews h3,
.total-reviews h4 {
    margin: 0;
}

.total-reviews h1 {
    font-weight: 700;
    font-size: 800%;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.total-reviews h3 {
    font-size: 240%;
}

.total-reviews h4 {
    font-size: 140%;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.card-right .slick-prev,
.card-right .slick-next {
    width: 48px;
    height: 48px;
    border: none;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 99999;
    color: #000072;
}

.card-right .slick-prev {
    left: -30px;
}

.card-right .slick-next {
    right: -48px;
}
