body {
    font-family: 'Roboto', sans-serif;
    background-color: #000061;
    color: white;
}

.empty-text {
    opacity: 0.8;
    margin-left: 50px;
    margin-top: 240px;
}

.empty-text h1 {
    font-size: 600%;
    margin: 0;
    text-align: center;
}

.no-review {
    position: absolute;
    opacity: 0.8;
    left: 50%;
    top: 50%;
    width: 70%;
    transform: translate(-50%,-50%);
}

.no-review h1 {
    font-size: 600%;
    margin: 0;
    text-align: center;
}

.nav-bar {
    height: 80px;
}

.nav-wrapper {
    background-color: #000072;
}

.logo {
    position: absolute;
    height: 55px;
    width: 55px;
    left: 0;
    margin: 12px 30px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.search-form {
    position: absolute;
    height: 80px;
    width: 300px !important;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}

input.searchbar {
    height: 100%;
    width: 100% !important;
    padding: 0 50px !important;
    border: 2px solid white !important;
    border-radius: 15px !important;
    color: white;

    transition: color 0.2s, background-color 0.2s !important;
}

.search-label {
    position: absolute;
    margin-top: -64px;
    margin-left: 15px;
    color: white;

    transition: color 0.2s;
}

.search-form:hover .searchbar,
.search-form .searchbar:focus {
    background-color: rgba(255,255,255,1) !important;
    color: #000072 !important;
}

.search-form:hover .search-label,
.searchbar:focus + .search-label {
    color: #000072 !important;
}

.pac-container {
    box-sizing: border-box;
    padding: 10px;
    margin-top: -14px;
    width: 404px !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 0 15px 15px !important;
}

.pac-item {
    padding: 0 4px;
}

.pac-item:hover {
    cursor: pointer;
}

/*BODY STYLING*/
.body-header {
    width: 60%;
    height: 260px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 0;
}

.body-header h1,
.body-header h2 {
    margin: 0;
}

.body-header h1 {
    font-size: 440%;
    font-weight: 100;
}

.body-header h2 {
    font-size: 240%;
    font-weight: 500;
}

#review-chart {
    display: inline-block; 
    position: absolute;
    top: 140px;
    right: 0;
    max-width: 400px !important;
    max-height: 400px !important;
}

#ind-ratings-chart {
    display: inline-block;
    position: absolute;
    top: 500px;
    right: 60px;
    max-width: 500px;
    max-height: 600px;
}